    body {
        padding-top: 65px;
    }

    body.container {
        background: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px)
    }

    a {
        color:black;
        text-decoration: none;
    }

    .green {
        font-weight: 500;
        color: green;
    }

    .red {
        font-weight: 500;
        color: rgb(220, 53, 69);
    }