{% extends 'base.html' %}

{% block title %}Future Quote{% endblock %}

{% block body %}
<div>
    <form action="/favorites" method="POST">
        <input type="submit" name="favorite" value="favorite">
        <input type="hidden" name="symbol" value="{{ symbol }}">
        <input type="hidden" name="company" value="{{ company }}">
    </form>
</div>

<div>
    <h2>{{ company }} ({{ symbol }})</h2>

    <p>{{ curr_price }}</p>
    <p>{{ dollar_chg }}</p>
    <p>{{ pct_chg }}</p>
    <p>24hr high {{ day_high }}</p>
    <p>24hr low {{ day_low }}</p>
    <p>{{ year_high }}</p>
    <p>{{ year_low }}</p>
    <pre>{{ pformat(future_json) }}</pre>

</div>
<script src="/static/js/stock.js"></script>
{% endblock %}
