    {% extends 'base.html' %}

    {% block title %}Ticker{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="stylesheet" href="/static/css/marquee.css">
    {% endblock %}

    {% block body %}

    <div>
        <div class="promo-carousel" id="summary">
            <div class="item-wrap" id="summary-wrap">
            </div>
        </div>
    </div>


    <h3>Trending Tickers</h3>
    <div id="trending">

    </div>

    <h3>Big Tech</h3>
    <div class="card row col-md-6">
        <div class="card-body vstack" id="big-tech">
            <h5 class="card-title text-center">Major Tech</h5>


            </div>
        </div>


    <h3>Top Stories</h3>
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div id="articles" class="carousel-inner">
            <div class="carousel-item active">
                <h2>Top Stories</h2>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div> -->

        <div id="articles" class="row">

            </div>


    <script src="/static/js/homepage.js"></script>
    <script>
        window.onload = (event) =>  {
            // getSummary();
            // getTrending();
            getBigTech();
            // getNews();
        };
    </script>
    {% endblock %}