{% extends 'base.html' %}

{% block title %}Ticker{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/homepage.css">
<link rel="stylesheet" href="/static/css/marquee.css">
{% endblock %}

{% block body %}

    <div>
        <div class="promo-carousel" id="summary">
            <div class="item-wrap" id="summary-wrap">
            </div>
        </div>
    </div>

<h3>Top Stories</h3>
<div id="articles" class="row">

</div>



<h3>Trending Tickers</h3>
<div id="trending">

</div>

<h3>Big Tech</h3>
<div id="big-tech">

<script src="/static/js/homepage.js"></script>
<script>
    window.onload = (event) =>  {
        getSummary();
        // getTrending();
        // getBigTech();
        // getNews();
    };
</script>
{% endblock %}