    {% extends 'base.html' %}

    {% block title %}Ticker{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="stylesheet" href="/static/css/marquee.css">
    {% endblock %}

    {% block body %}
    <!-- Marquee with Indexes -->
    <div>
        <div class="promo-carousel" id="summary">
            <div class="item-wrap" id="summary-wrap">
            </div>
        </div>
    </div>


    <div class="row">
        <!-- Big Tech -->
        <div class="col-sm-6">
            <div class="card" style="height: 28rem">
                <h4 class="card-title text-center bg-info" style="height: 2.5rem">Major Tech</h4>
                    <div class="card-body vstack" id="big-tech">

                    </div>
            </div>
        </div>

        <!-- Trending Tickers -->
        <div class="col-sm-4 trending">
            <div class="card" style="height: 23rem">
                <h4 class="card-title text-center bg-info" style="height: 2.5rem">Trending</h4>
                <div class="card-body">
                    <strong>
                        <ul class="list-group list-group-numbered" id="trending"></ul>
                    </strong>
                </div>
            </div>
        </div>
    </div>


<p></p>

    <h3 class="text-center">Top Stories</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4" id="articles"></div>


    <script src="/static/js/homepage.js"></script>
    <script src="/static/js/stock.js"></script>

    <script>
        window.onload = (event) =>  {
            getSummary();
            // getTrending();
            // getBigTech();
            // getNews();
        };
    </script>
    {% endblock %}