{% extends 'base.html' %}

{% block title %}Stock Quote{% endblock %}
{% block body %}

<div class="container" id="quote_container" ui-view="">
    <div class="row" id="header-quote">
        <div class="col">
            <h3>{{ company }} ({{ symbol }})</h3>
            {%if session.get("user_email")%}
            <span>
                <form action="/favorites" method="POST" id="favorite">
                    <input type="hidden" name="symbol" value="{{ symbol }}">
                    <input type="hidden" name="company" value="{{ company }}">
                    <button type="submit" id="favorite-button">
                        <i class="bi bi-star"></i>
                    </button>
                </form>
            </span>
            {% endif %}
        </div>
    </div>
    <div class="row" id="quote-body">
        <div class="col">
            <div><h5>{{ curr_price }}</h5></div>
            {% set percent_change= pct_chg|int%}
                {%if percent_change > 0 %}
                <span class="green">{{ dollar_chg }} ({{pct_chg}}%)</span>
                {% else %}
                <span class="red">{{ dollar_chg }} ({{pct_chg}}%)</span>
                {% endif %}
            <!--div for price change arrow here  -->
        </div>
        <div class="col stock-attribute">
            Day Range
            <div class="attribute-value">{{ day_low }} - {{ day_high }}</div>
        </div>
        <div class="col stock-attribute">
            Previous Close
            <div>{{ prev_close }}</div>
        </div>
        <div class="col stock-attribute">
            Ask
            <div>{{ ask_price }}</div>
        </div>

        <div class="col stock-attribute">
            Volume
            <div>{{ volume }}</div>
        </div>
        <div class="col stock-attribute">
            P/E (TTM)
            <div>{{ pe_ratio }}</div>
        </div>
    </div>
    <div class="row" id="quote-body">
        <div class="col timestamp">
            AS OF {{curr_time}} {{curr_date}}
        </div>
        <div class="col stock-attribute">
            52-Week Range
            <div>{{ year_low }} - {{ year_high }}</div>
        </div>
        <div class="col stock-attribute">
            Open
            <div>{{ open_price }}</div>
        </div>
        <div class="col stock-attribute">
            Bid
            <div>{{ bid_price }}</div>
        </div>
        <div class="col stock-attribute">
            Market Cap
            <div>{{ market_cap }}</div>
        </div>
        <div class="col stock-attribute">
            Earnings Per Share
            <div>{{ eps }}</div>
        </div>
    </div>
</div>

<pre>{{ pformat(stock_json) }}</pre>


<div class="container">
    <h2>Price History</h2>
    <canvas id="line-time"></canvas>
  </div>

</div>

<script src="/static/js/stock.js"></script>

<!-- <script>
window.onload = (event) =>  {
    renderStockChart("{{symbol}}");
  };
</script> -->
{% endblock %}
