{% extends 'base.html' %}

{% block title %}Stock Quote{% endblock %}

{% block body %}

{%if session.get("user_email")%}
<div id="favorite">
    <form action="/favorites" method="POST">
        <input type="submit" name="favorite" value="favorite">
        <input type="hidden" name="symbol" value="{{ symbol }}">
        <input type="hidden" name="company" value="{{ company }}">
    </form>
</div>
{% endif %}

<div>
    <p>{{ company }} </p> <p id="symbol"> {{ symbol }}</p>
    <p>{{ curr_price }}</p>
    <p>{{ dollar_chg }}</p>
    <p>{{ pct_chg }}%</p>
    <p>{{ open_price }}</p>
    <p>{{ prev_close }}</p>
    <p>{{ ask_price }}</p>
    <p>{{ bid_price }}</p>
    <p>{{ day_high }}</p>
    <p>{{ day_low }}</p>
    <p>{{ year_high }}</p>
    <p>{{ year_low }}</p>
    <p>{{ volume }}</p>
    <p>{{ pe_ratio }}</p>
    <p>{{ eps }}</p>
    <p>{{ market_cap }}</p>

    <div>
    <h2>Price History</h2>
    <canvas id="line-time"></canvas>
  </div>
    <pre>{{ pformat(stock_json) }}</pre>

</div>

<script src="/static/js/stock.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

<script>
window.onload = (event) =>  {
    renderStockChart("{{symbol}}");
  };
</script>
{% endblock %}
